.container {
  height: 100dvh;
  background-color: var(--color-1);
  font-weight: 500;
}

.links {
  display: flex;
  flex-direction: column;
}

.links i {
  font-size: 1.2rem;
}

.link {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  text-decoration: none;
  color: var(--color-2);
  transition: all var(--animation);
}

.link:hover {
  color: var(--color-1);
  background-color: var(--color-2);
}

.active-link {
  color: var(--color-1);
  background-color: var(--color-2);
}

.list-container {
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.list-action {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  background-color: transparent;
  color: var(--color-2);
  outline: none;
  border: 1px solid var(--color-2);
  border-radius: var(--border-radius-2);
  font-size: 1rem;
  transition: all var(--animation);
}

.list-action i {
  font-size: 1.2rem;
}

.list-action:hover {
  color: var(--color-1);
  background-color: var(--color-2);
  cursor: pointer;
}

.list-action:active {
  scale: 0.98;
}
