.list {
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: var(--gap-2);
}

.list__item {
  background-color: var(--color-3);
  border-radius: var(--border-radius-2);
  transition: all var(--animation);
}

.list__item--active {
  background-color: var(--color-5);
}

.list__item-button {
  display: flex;
  padding: 15px;
  width: 100%;
  text-align: start;
  font-weight: bold;
  background-color: transparent;
  transition: all var(--animation);
  color: var(--color-2);
  border: none;
  cursor: pointer;
}

.list__item:hover {
  background-color: var(--color-5);
}
